.bg{
    background-image: url(image/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    background-position: center;
    padding-top: 4rem;
}
.display-4 {
    font-size: 7rem;
  }
  
  .text-white {
    color: #c7b8b8;
  }
  
  .font-weight-bold {
    font-weight: bold;
  }